.displayNo
	display: none

.textarea
	width: 100%

.error
	color: red

.recordThumbnail
	width: 100%

.smallPreload 
	width: 100px

.subList
	margin-left: 50px

.editorRecord
	max-height: 75vh;
	overflow: auto
	.ImageSpan__root___RoAqL
		width: 100px !important
		height: 100px !important
		background-size: 100px auto !important

.preload
	width: 100px

.recordbar
	display: flex
	flex-direction: column

.container
	display: flex
	min-height: 85%
	align-items: center
	align-content: space-around
	align-items: stretch
	padding: 1vw 2vw

.left
    flex-grow: 3
    
.right
	flex-grow: 1
	text-align: left

.teamContainer
	display: flex
	justify-content: space-between

.teamActive
	border-radius: 25px
	flex-grow: 2
	transition: flex 0.8s ease
	transform: scale(1.2) translate(50px, 50%)
	border: 4px solid gray

.team
	cursor: pointer
	text-align: center
	border-radius: 10px
	padding: 4%	
	flex-direction: column

.imgTeam 
	width: 100px
	height: 100px
	border-radius: 50%
	border: 4px solid gray

.followBox
	display: flex
	justify-content: flex-start
	div
		flex-basis: 20%
		box-sizing: border-box
		padding: 0 2%

.followImg
	width: 100%
	height: 80px
	background-size: cover
	background-position: center
	cursor: pointer

.wall
	overflow: auto
	max-height: 85vh

.wallRecord
	background-color: rgba(206, 213, 224, 0.4)
	border: 1px solid rgba(206, 213, 224, 0.7)
	border-radius: 15px 10px
	display: flex
	justify-content: space-around
	flex-direction: column
	box-sizing: border-box
	padding: 4%
	margin: 2% 0

.wallImg
	width: 100%

.wallHead
	align-self: center

.wallBottom
	display: flex
	justify-content: space-between

.switchSidebar
	display: flex
	justify-content: space-between

	div
		border: 1px solid rgba(206, 213, 224, 0.7)
		box-sizing: border-box
		padding: 4%
		margin: 2%
		cursor: pointer
		border-radius: 10px

.switch-active
	color: red

.pointer
	cursor: pointer

.recently
	overflow: auto
	max-height: 85vh

.avatar
	width: 100px
	height: 100px
	background-size: cover
	background-position: center

.userInfo
	display: flex

.listInfo
	box-sizing: border-box
	padding: 4%

.coinBox
	display: flex
	flex-wrap: wrap

.coinImg
	width: 30px
	height: 30px

@media screen and (max-width: 790px) 
    .container
        flex-direction: column
        flex-wrap: wrap
 
