.displayNo
	display: none

.textarea
	width: 100%

.error
	color: red

.preload
	width: 100px

.recordbar
	display: flex
	flex-direction: column

.container
	display: flex
	min-height: 85%
	align-items: center
	align-content: space-around
	align-items: stretch
	padding: 1vw 2vw

.left
    flex-grow: 3
    
.right
	flex-grow: 1
	text-align: left

@media screen and (max-width: 790px) 
    .container
        flex-direction: column
        flex-wrap: wrap
 
